<div class="header">
  <div class="header-left">
    <div class="menu-icon dw dw-menu"></div>
    <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
    <div class="header-search">
      <form>
        <div class="form-group mb-0">
          <i class="dw dw-search2 search-icon"></i>
          <input type="text" class="form-control search-input" placeholder="Search Here">
        </div>
      </form>
    </div>
  </div>
  <div class="header-right">
    <div class="user-notification">
      <div class="dropdown">
        <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
          <i class="icon-copy dw dw-notification"></i>
          <span class="badge notification-active"></span>
        </a>
      </div>
    </div>
    <div class="user-info-dropdown">
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <span class="user-icon">
            <i class="dw dw-user1"></i>
                    </span>
          <span class="user-name">{{ user.nom }} {{ user.prenom }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="/home/profile">
            <i class="dw dw-user1"></i> Profile
          </a>
          <a class="dropdown-item" routerLink="/settings"><i class="dw dw-settings2"></i> Setting</a>
          <a class="dropdown-item" routerLink="/help"><i class="dw dw-help"></i> Help</a>
          <a class="dropdown-item" (click)="onLogout()">
            <i class="dw dw-logout"></i> Log Out
          </a>
                  </div>
      </div>
    </div>
  </div>
</div>
