.steps {
  .step {
    background: #e0e0e0;
    color: #555;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;

    &.active {
      background-color: #007bff;
      color: #fff;
    }

    span {
      margin-left: 10px;
      font-weight: normal;
    }
  }
}
