<!-- Sidebar -->
<div class="left-side-bar">
  <div class="brand-logo">
    <a href="index.html">
      <img src="assets/vendors/images/logosasnbg.png" alt="Logo" class="logo">
    </a>
    <div class="close-sidebar" id="closeSidebar">
      <i class="fa fa-times"></i>
    </div>
  </div>

  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">

        <!-- Home -->
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon"><i class="fa fa-home"></i></span>
            <span class="mtext">Home</span>
          </a>
         
        </li>

        <!-- Intervention -->
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon"><i class="fa fa-tools"></i></span>
            <span class="mtext">Intervention</span>
          </a>
          <ul class="submenu">
            <li><a routerLink="/home/intervention">Intervention</a></li>
          </ul>
        </li>

        <!-- Maintenance -->
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon"><i class="fa fa-cogs"></i></span>
            <span class="mtext">Maintenance</span>
          </a>
          <ul class="submenu">
            <li><a routerLink="/home/affichemaintenance">Maintenance Préventive</a></li>
          </ul>
        </li>

        <!-- Équipement -->
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon"><i class="fa fa-microchip"></i></span>
            <span class="mtext">Équipement</span>
          </a>
          <ul class="submenu">
            <li><a routerLink="/home/equipement">Équipement</a></li>
          </ul>
        </li>

        <!-- Stock -->
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon"><i class="fa fa-boxes"></i></span>
            <span class="mtext">Stock</span>
          </a>
          <ul class="submenu">
            <li><a routerLink="/home/stock">Stock Initial</a></li>
            <li><a routerLink="/home/stock">Gestion Stock</a></li>
          </ul>
        </li>

        <!-- Flux de Statut -->
        <li>
          <a routerLink="/home/fluxstatut" class="dropdown-toggle no-arrow">
            <span class="micon"><i class="fa fa-project-diagram"></i></span>
            <span class="mtext">Flux de Statuts</span>
          </a>
        </li>

        <!-- Planning -->
        <li>
          <a routerLink="/home/Calendrier" class="dropdown-toggle no-arrow">
            <span class="micon"><i class="fa fa-calendar-alt"></i></span>
            <span class="mtext">Planning</span>
          </a>
        </li>

        <!-- Paramétrage -->
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon"><i class="fa fa-sliders-h"></i></span>
            <span class="mtext">Paramétrage</span>
          </a>
          <ul class="submenu">
            <li><a routerLink="/home/Statut">Statut</a></li>
            <li><a routerLink="/home/priorite">Priorité</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="mobile-menu-overlay"></div>
