<h5 class="mb-3">{{ isEditMode ? 'Modifier une Priorité' : 'Ajouter une Priorité' }}</h5>

<form [formGroup]="prioriteForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <label for="libelle">Libellé</label>
    <input
      type="text"
      id="libelle"
      formControlName="libelle"
      class="form-control"
      [ngClass]="{'is-invalid': prioriteForm.get('libelle')?.invalid && prioriteForm.get('libelle')?.touched}"
      placeholder="Entrez le libellé"
    />
    <div class="invalid-feedback" *ngIf="prioriteForm.get('libelle')?.invalid && prioriteForm.get('libelle')?.touched">
      Le libellé est requis.
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary me-2" (click)="close()">Annuler</button>
    <button type="submit" class="btn btn-primary" [disabled]="prioriteForm.invalid">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
  </div>
</form>
